<div class="border-start border-4 p-1 mb-4 mt-4">
<p><%= params[:answer] %></p>
<p><em>-You</em></p>
</div>


<div class="border-start border-4 bg-warning bg-opacity-25 p-1">
<p><strong><%= @answer %></strong></p>
<p><em>-Your coach</em></p>
</div>
